@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: #f2f7f5;
  --color-button: #faae2b;
  --color-headline: #00473e;
  --color-button-text: #00473e;
  --color-paragraph: #475d5b;
  --color-stroke: #00332c;
  --color-main: #f2f7f5;
  --color-highlight: #faae2b;
  --color-secondary: #ffa8ba;
  --color-tertiary: #fa5246;
  
  --color-background-2: #00473e;
  --color-headline-2: #fffffe;
  --color-subheading-2: #f2f7f5;
  --color-stroke-2: #00332c;

}
